.nav {
  &-main-icon {
    background-color: $clr-black-1;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  #{&}-menu {
    background-color: $clr-black-1;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;

    &-bars {
      margin-left: 2rem;
      font-size: 2rem;
      background: none;
    }
    &.active {
      left: 0;
      transition: 350ms;
    }

    &-items {
      width: 100%;
    }

    &-toggle {
      background-color: $clr-black-1;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: start;
      align-items: center;
    }
  }

  #{&}-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;

    a {
      text-decoration: none;
      color: $clr-white-1;
      font-size: 18px;
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px;

      &:hover {
        background-color: $clr-blue-1;
      }
    }
  }

  span {
    margin-left: 16px;
  }
}
